@inject IStringLocalizer<FloatingUINormal> Localizer

<FloatingUI>
    <div class="float-ui">Test</div>
    <FloatingElement>
        <div class="float-menu">
            <div>Item 1</div>
            <div>Item 2</div>
        </div>
    </FloatingElement>
</FloatingUI>
